<nav>
  <a mat-button routerLink="./address-form" routerLinkActive="active">address-form</a>
  <a mat-button routerLink="./dashboard" routerLinkActive="active">dashboard</a>
  <a mat-button routerLink="./drag-drop" routerLinkActive="active">drag-drop</a>
  <a mat-button routerLink="./nav" routerLinkActive="active">nav</a>
  <a mat-button routerLink="./table" routerLinkActive="active">table</a>
  <a mat-button routerLink="./tree" routerLinkActive="active">tree</a>
</nav>
<router-outlet></router-outlet>